/* Meyer Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Roboto, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: grey; */

  --accent-blue: #3188ED; 
  --off-black: #505050;
  --off-black-darker: #131D2B;
}

#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(146deg, #EBEBEB 14.28%, #FFF 90.31%);
}

html {
  font-size: 16px;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 0.9rem;
}

h3 {
  font-size: 0.6rem;
}

.blue {
  color: var(--accent-blue);
}

.content-container {
  min-height: 50%;
  min-width: 320px;

  max-width: 1280px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: white;
}

#action-text {
  margin: 0.9rem 1.2rem;
  text-align: center;
  color: var(--off-black);
}

/*----------*/
/*  HEADER  */
/*----------*/

#header-container {
  width: 100vw;
  min-width: 320px;
  height: 1.3rem;
  display: flex;
  align-items: center;

  background-color: white;
  color: var(--accent-blue);

  padding: 0.9rem 0.6rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25); 
}

/*----------*/
/*   HERO   */
/*----------*/

#hero-container {
  height: 7.5rem;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;

  background-image: url('../public/hero-photo.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 

  /* Black filter over background image*/
  box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5); 
}

/*----------*/
/*  UPLOAD  */
/*----------*/

#upload-tooth-image {
  width: 3rem;
  max-width: 500px;
}

/*----------*/
/*   XRAY   */
/*----------*/


/*----------*/
/*  FOOTER  */
/*----------*/

#footer-container {
  min-height: 7.5rem;
  display: flex;
  width: 100vw;
  justify-content: center;

  color: white;
  background-color: var(--off-black-darker);
}

.footer-column {
  margin: 2.5vh 3vw;
}

.footer-column h4 {
  font-size: 2.5vh;
}

.footer-column p {
  font-size: 0.6rem;
}

@media screen and (max-width: 768px) {
  /* CSS rules for screens up to 768px wide (e.g., mobile) */
}

/* CSS rules for screens between 769px and 1024px wide (e.g., tablet) */
@media screen and (min-width: 769px){
  html {
    font-size: 32px;
  }
}


/* CSS rules for screens wider than 1024px (e.g., desktop) */
/*
@media screen and (min-width: 1025px) {
}
*/