/* Meyer Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

#root {
  max-width: 1280px;
  margin: 0;
}

#header-container {
  width: 100vw;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25); 
}

#upload-tooth-image {
  width: 150px;
}
